<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WebSocket Test</title>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"
  type="application/javascript"></script>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #app {
    height: 100vh;
    padding: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  header {
    height: 25px;
  }

  h1 {
    margin-bottom: 10px;
  }

  hr {
    margin: 10px auto;
  }

  input,
  select {
    min-width: 10em;
    height: 30px;
    margin-bottom: 10px;
  }

  button {
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    margin-left: 10px;
  }

  .list {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  .item {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 0 14px;
  }

  .item:last-child {
    border: none;
  }

  .item>ul {
    flex: 1;
    overflow: auto;
    border: 1px dashed gainsboro;
    border-radius: 10px;
    padding: 10px;
  }

  .admin {
    margin-left: auto;
  }

  label {
    width: 5em;
    display: inline-block;
  }
</style>

<body>
  <div id="app">
    <header>
      <b>添加用户id: </b>
      <input type="number" v-model="userId" />
      <button @click="handleAdd">添加</button>
    </header>
    <hr>
    <div class="list">
      <template v-for="(item, index) in users">
        <div class="item">
          <h1>用户侧 - {{item.userId}} (
            <span :style="{
              color: item.isConnected ? 'green': 'red'
            }">
              {{item.isConnected?'连接成功':'连接失败'}}
            </span>
            )
          </h1>

          <div>
            <label>对话类型: </label>
            <select v-model="item.role">
              <option v-for="(role, roleKey) in roles" :value="roleKey">{{roleKey}}:{{role}}</option>
            </select>
          </div>
          <div>
            <label>信息: </label>
            <input type="text" v-model="item.message" placeholder="信息" />
            <button @click="sendToServer(item, index)">发送</button>
          </div>

          <div>
            设置已读Last id:
            <input type="number" v-model="item.lastId" />
            <button @click="setReaded(item)">
              设置已读
            </button>
          </div>


          <h3>当前数据:</h3>
          <ul :id="`user-message-${index}`"></ul>

        </div>
      </template>

      <div class="item admin">
        <h1>管理侧 - {{adminId}} (
          <span :style="{
            color: adminIsConnected ? 'green': 'red'
          }">
            {{adminIsConnected?'连接成功':'连接失败'}}
          </span>
          )
        </h1>
        <h4>发送给用户:</h4>
        <div>
          <label>User Id:</label>
          <select v-model="adminValues.userId ">
            <option v-for="(item, index) in users">{{item.userId}}</option>
          </select>
        </div>
        <div>
          <label>对话类型:</label>
          <select v-model="adminValues.role">
            <option v-for="(role, roleKey) in roles" :value="roleKey">{{roleKey}}:{{role}}</option>
          </select>
        </div>

        <div>
          <label>信息:</label>
          <input v-model="adminValues.message" type="text" placeholder="信息">
        </div>
        <button @click="sendToUser">发送</button>
        <h3>当前数据:</h3>
        <ul id="admin-ul"></ul>
      </div>

    </div>
  </div>


  <script>
    // const SOCKET_URL = 'https://admin-api2.betterparenting.online'
    const SOCKET_URL = 'http://localhost:3000'
    // const SOCKET_URL = 'https://admin-test.betterparenting.online'
    // const SOCKET_URL = 'https://api2.betterparenting.online'
    // const SOCKET_URL = ''
    const app = Vue.createApp({
      data() {
        return {
          userId: undefined,
          users: [],
          roles: {
            'assistant': '产品小助理',
            'knowledge': '知识特派员',
            'navigator': '平静的领航员',
            'feedback': '吐槽专用',
          },

          adminId: 6,
          adminSocket: null,
          adminIsConnected: false,
          adminValues: {
            userId: undefined,
            role: undefined,
            message: undefined
          }
        };
      },
      mounted() {
        this.adminSocket = io(SOCKET_URL, {
          // path: '/admin2/socket.io',
          query: { userId: this.adminId, tag: 'admin' }  // 在连接时传递 userId
        })

        this.adminSocket.on('connect', () => {
          console.log(`管理侧连接成功: admin`);
          this.adminIsConnected = true
        });

        // 处理服务器发来的消息
        this.adminSocket.on('message', (data) => {
          console.log('管理侧接收到信息', data)
          this.insertLi('admin-ul', 'user', data)
        });

        // 连接错误
        this.adminSocket.on('connect_error', (error) => {
          console.error('管理侧连接报错:', error);
        });

        // 发送消息后的回执
        this.adminSocket.on('ack', (res => {
          console.log('接收回执', res)

        }))
      },
      methods: {
        handleAdd() {
          if (!this.userId) {
            return
          }
          if (this.users.some(t => t.userId == this.userId)) {
            alert('该用户已添加')
            return
          }
          const socket = io(SOCKET_URL, {
            // path: '/admin2/socket.io',
            query: { userId: this.userId, tag: 'user' }  // 在连接时传递 userId
          })
          const len = this.users.push({
            userId: +this.userId,
            socket,
            role: undefined,
            message: undefined,
            isConnected: false,
            lastId: undefined
          })

          const index = len - 1

          socket.on('connect', () => {
            console.log(`用户侧连接成功: ${index} ${this.userId}`);
            this.users[index].isConnected = true
          });

          // 处理服务器发来的消息
          socket.on('message', (data) => {
            this.insertLi(`user-message-${index}`, 'server', data)
          });

          // 连接错误
          socket.on('connect_error', (error) => {
            console.error(`用户侧连接报错${index}:`, error);
          });

          // 发送消息后的回执
          socket.on('ack', (res => {
            console.log('管理侧接收回执', res)
          }))
        },

        sendToServer(item, index) {
          const { userId, role, message } = item
          const data = {
            event: 'to_admin',
            data: {
              userId, role, message,
              uuid: Math.random() * 1000000 + ''
            }
          }
          item.socket.emit('message', data);  // 发送消息到指定用户
          this.insertLi(`user-message-${index}`, 'user', data)
        },

        setReaded(item) {
          console.log(333, item)
          item.socket.emit('message', {
            event: 'set_readed_by_user',
            data: {
              uid: item.userId,
              lastId: item.lastId?+item.lastId: null,
              role: item.role
            }
          })
          item.socket.on('ack', res => {
            const { success, event, data } = res
            if (success) {
              switch (event) {
                case 'set_readed':
                  console.log('设置已读成功,会返回readedIds userId')
              }
            }
          })
        },
        sendToUser() {
          const { userId, message, role } = this.adminValues

          if (userId && message && role) {
            this.adminSocket.emit('message', {
              event: "to_user",
              data: {
                userId: +userId, message, role,
                fromAdminId: this.adminId,
                uuid: Math.random() * 1000000 + ''

              }
            })
          }
        },

        insertLi(id, from, data) {
          const messagesList = document.getElementById(id);
          const newMessage = document.createElement('li');
          newMessage.innerHTML = `
            <b>${from}:</b>
            <pre>${JSON.stringify(data, null, 2)}</pre>
          `
          messagesList.appendChild(newMessage);
        }
      }
    });

    // 挂载 Vue 实例
    app.mount('#app');



  </script>
</body>

</html>